.env
Lib/
Scripts/
share/
etc/
bicas_vscode_key
bicas_vscode_key.pub
text/
pdf-folder/
processed/
prompts-values.json
training-executions-data.json
nohup.out
ratings.json
links-created.json
log_file-*
sendgridtest.py
super-adm-link-settings.json
messages/