<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            /* display: flex; */
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
        }

        .break {
            flex-basis: 100%;
            width: 0px;
            height: 0px;
        }

        .container {
            text-align: top;
            text-align: center;
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        Gerador de Links:
    </div>
    <div class="break"></div>
    <button onclick="createLink()">Create Link</button>
    <br>
    <div class="container">
        <div id="linkContainer"></div>
    </div>
    
    <script>
        function createLink() {
            const randomString = Math.random().toString(36).substring(2, 8);
            
            // contatenated = '<a href="menu/'+randomString+'"> link chatbot: '+randomString+'</a>';
            // document.getElementById('linkContainer').innerHTML += contatenated + '<br>';

            // Get a reference to the table
            var table = document.getElementById("linktable").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow(table.rows.length);
            newRow.id = randomString;
            // table += '<tr id="'+key+'">';
  
            // Add cells (columns) to the row
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);
            var cell5 = newRow.insertCell(4);
            var cell6 = newRow.insertCell(5);

            var key = randomString;
            // Create text input elements for each cell
            cell1.innerHTML = '<a id="'+key+'" name="link'+key+'" href="menu/'+key+'"> link chatbot: '+key+'</a>';
            cell2.innerHTML = 'nome: <input type="text" id="name'+key+'" name="nome'+key+'" value="temp"></input><input type="button" value="salvar" onclick="alert(\''+'name'+key+'\')"/>';
            cell3.innerHTML = '<input type="checkbox" name="ativaprompt'+key+'" onchange="handleCheckboxChange('+"'"+key+"'"+')" checked> ativa prompt</input>';
            cell4.innerHTML = '<input type="checkbox" name="ativaarquivo'+key+'" onchange="handleCheckboxChange('+"'"+key+"'"+')" checked> ativa arquivo</input>';
            cell5.innerHTML = '<input type="checkbox" name="ativatreinar'+key+'" onchange="handleCheckboxChange('+"'"+key+"'"+')" checked> ativa treinar</input>';
            cell6.innerHTML = '<input type="checkbox" name="ativadelete'+key+'" onchange="handleCheckboxChange('+"'"+key+"'"+')" checked> ativa delete</input>';

            // alert(key);
            handleCheckboxChange(key);
            
            // fetch('/save_link', {
            //     method: 'POST',
            //     headers: { 'Content-Type': 'application/json' },
            //     body: JSON.stringify({ link: randomString })
            // });
        }

                    
        function handleCheckboxChange(rowId) {
            const row = document.getElementById(rowId);
            // const checked = checkbox.checked;
            // alert(rowId);
            // alert(row);
            // alert(row.cells);
            // return;
            if (row) {

                var dataToSave = {}; // Object to store the data
                var fullRow = {}; // Object to store the data

                var rowID = 0;

                // Iterate through all the cells in the row
                for (var i = 0; i < row.cells.length; i++) {
                    var cellType = row.cells[i].nodeName;

                    // console.log('Cell ' + i + ' type: ' + cellType);
                    var checkboxInput = row.cells[i].querySelector('input[type="checkbox"]');

                    let checkboxischecked = false;
                    let checkboxInputid = "";
                    let checkboxInputName = "";
                    if (checkboxInput) {
                        // If a checkbox is found, get its value (checked or not checked)
                        var isChecked = checkboxInput.checked;
                        checkboxischecked = isChecked;
                        checkboxInputid = checkboxInput.id;
                        checkboxInputName = checkboxInput.name;
                        // console.log('Cell ' + i + ' checkbox value: ' + isChecked);
                    }

                    var alink = row.cells[i].querySelector('a');
                    if (alink) {
                        // alert(alink.id);
                        checkboxInputid = alink.id;
                        checkboxInputName = alink.name;
                    }

                    var InputBox = row.cells[i].querySelector('input[type="text"]');
                    if (InputBox) {
                            checkboxInputName = InputBox.name;
                            checkboxischecked = InputBox.value;
                    }                       
                    

                    // Access the cell's data value and do something with it
                    var cellData = row.cells[i].textContent;
                    var cellID = checkboxInputid;
                    var cellvalue = row.cells[i].checked;
                    console.log('Cell ' + i +', id: '+ cellID +', checkboxvalue: '+ checkboxischecked+', data: ' + cellData);
                    // dataToSave[cellID] = {checkboxInputName,cellvalue];
                    
                    if(i == 0)
                        rowID = cellID;
                    dataToSave[checkboxInputName] = checkboxischecked;
                        
                    
                    // alert('Cell ' + i + + ', id: '+ cellID +', data: ' + cellData+ ', value: '+cellvalue);
                }
                
                // dataToSave[cellID] = [checkboxischecked,checkboxInputName];
                // console.log(dataToSave);
                
                // alert(JSON.stringify(dataToSave));
                var postarray = {};
                postarray[rowID] = dataToSave;

                console.log(postarray);
                // return;
                
                // Convert the object to JSON
                var jsonData = JSON.stringify(postarray);

                // return;
                // Make a POST request to your Flask route
                fetch('/save_super_admin_settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                })
                .then(response => response.json())
                // .then(data => {
                //     console.log(data)
                //     // Save the data to the JSON file
                //     // saveDataToFile(data);
                // }
                ;
            } else {
                console.log('Row with ID ' + rowId + ' not found.');
            }
            

        // Save state of checkbox in some data structure
        
        // Could fire ajax request to save state on server
        }

        // On page load, fetch already created links
        window.onload = function() {
            fetch('/get_links')
            .then(response => response.json())
            .then(data => {
                let i = 0;
                // let contatenated = "";
                let table = '<table id="linktable" class="zebra" style="max-width:60%;">';
                // console.log(data)
                // while (i < data.length) {
                for (var key in data) {
                    // console.log(key);
                    // console.log(data[key]['ativaprompt'+key]);
                    // console.log(JSON.stringify(data));
                    let nomelinha = "";
                    if (typeof data[key]['nome'+key] === 'undefined') {
                        nomelinha = "";
                    }
                    else{
                        nomelinha = data[key]['nome'+key];
                    }

                    table += '<tr id="'+key+'">';
                    table +=  '<td><a id="'+key+'" name="link'+key+'" href="menu/'+key+'"> link chatbot: '+key+'</a></td>';
                    table +=  '<td>nome chatbot:<input type="text" id="name'+key+'" name="nome'+key+'" value="'+nomelinha+'"><input type="button" value="salvar" onclick="handleCheckboxChange('+"'"+key+"'"+')"/></td>';
                    var ativaprompt = (data[key]['ativaprompt'+key]==true)?'checked':'';
                    table +=  '<td><input type="checkbox" name="ativaprompt'+key+'" onchange="handleCheckboxChange('+"'"+key+"'"+')" '+ativaprompt+'> ativa prompt</input></td>';
                    var ativaarquivo = (data[key]['ativaarquivo'+key]==true)?'checked':'';
                    table +=  '<td><input type="checkbox" name="ativaarquivo'+key+'" onchange="handleCheckboxChange('+"'"+key+"'"+')" '+ativaarquivo+'> ativa arquivo</input></td>';
                    var ativatreinar = (data[key]['ativatreinar'+key]==true)?'checked':'';
                    table +=  '<td><input type="checkbox" name="ativatreinar'+key+'" onchange="handleCheckboxChange('+"'"+key+"'"+')" '+ativatreinar+'> ativa treinar</input></td>';
                    var ativadelete = (data[key]['ativadelete'+key]==true)?'checked':'';
                    table +=  '<td><input type="checkbox" name="ativadelete'+key+'" onchange="handleCheckboxChange('+"'"+key+"'"+')" '+ativadelete+'> ativa delete</input></td>';
                    // contatenated += '<br>';
                    table += '</tr>';
            
                    i++;
                }
                table += '</table>';
                document.getElementById('linkContainer').innerHTML = table;


                // document.getElementById('linkContainer').innerHTML = data.join('<br>')+'<br>';
            });


        }
    </script>
</body>
</html>
