<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to My Website!</h1>
    <div class="menu">
        <a href="{{ url_for('received_files') }}">Submit Files to Learn</a>
        <a href="{{ url_for('train_chatbot') }}">Train the AI with Files</a>
        <a href="{{ url_for('chatbot_prompts') }}">Edit chatbot Prompts</a>
        <a href="{{ url_for('chatbot') }}">Go To ChatBot</a>
    </div>
</body>
</html>
